body {
  background-image: url(./img/img-1.jpg);
  color: white;
  font-size: x-large;
  font-family: "Poller One", cursive;
}
.Ingredients {
  background: url(./img/img-2.jpg) round;
}
.Method {
  background: url(./img/img-3.jpg) round;
}
ul,
ol {
  color: black;
}
li {
  padding: 2%;
}
h2 {
  color: orange;
}
